{% extends "layout.html" %}

{# This is the script for the Google search box. #}

{% set title = _('Search') %}
{% set script_files = script_files + ['_static/searchtools.js'] %}
{% block extrahead %}
  <script type="text/javascript">
    jQuery(function() { Search.loadIndex("{{ pathto('searchindex.js', 1) }}"); });
  </script>
  {# this is used when loading the search index using $.ajax fails,
     such as on Chrome for documents on localhost #}
  <script type="text/javascript" id="searchindexloader"></script>
  {{ super() }}
{% endblock %}


{% block body %}

<h1 id="search-documentation">{{ _('Search the documentation') }}</h1>

<div class="container">

<p>
{% trans %}From here you can use a scoped Google search query to search all of the documentation about Context Relevant that is located at https://contextrelevant.com/docs/. (This page requires JavaScript be enabled to view the search box.){% endtrans %}
</p>

  <form action="" method="get">
    <input type="text" name="q" value="" />
    <input type="submit" value="{{ _('search') }}" />
    <span id="search-progress" style="padding-left: 10px"></span>
  </form>
  {% if search_performed %}
    <h2>{{ _('Search Results') }}</h2>
    {% if not search_results %}
      <p>{{ _('Your search did not match any documents. Please make sure that all words are spelled correctly and that you\'ve selected enough categories.') }}</p>
    {% endif %}
  {% endif %}
  <div id="search-results">
  {% if search_results %}
    <ul>
    {% for href, caption, context in search_results %}
      <li><a href="{{ pathto(item.href) }}">{{ caption }}</a>
        <div class="context">{{ context|e }}</div>
      </li>
    {% endfor %}
    </ul>
  {% endif %}


<!-- Place this tag where you want both of the search box and the search results to render -->
<!--<gcse:search defaultToRefinement="Context Relevant Documentation" webSearchResultSetSize="20"></gcse:search>-->

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

</div>

{% endblock %}

</body>
</head>
