{% extends "!layout.html" %}

{% block nav_main %}
<!--
  <nav class="nav-main" role="navigation" data-topbar>
    <div class="nav-inner">
      <div class="left">
        <h1>
          <a href="http://docs/">
            <span>Learn Versive &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </a>
        </h1>
      </div>

      <i id="nav-icon" class="fa fa-bars"></i>

      <a href="https://www.versive.com/">
        <img id="logo" src="_static/versive-topnav-colors.svg" onerror="_static/versive-topnav-colors.png"/>
      </a>

-->
<!--
      <ul class="nav-links links-main">
        <li class="nav-link is-active">
          <a href="/resources/index.html">Resources</a>
        </li>
        <li class="nav-link">
          <a href="../index.html">Reference</a>
        </li>
        <li class="nav-link">
          <a href="/tutorials/index.html">Tutorials</a>
        </li>
        <li class="nav-link">
          <a href="/support/index.html">Support</a>
        </li>



        <li class="nav-link">
          <a href="/cr_engines/index.html">Engines</a>
        </li>
        <li class="nav-link">
          <a href="/cr_platform/index.html">Platform API</a>
        </li>
-->

      </ul>

    </div>
  </nav>

{{ super() }}

{% endblock %}


{% block footer %}

{{ super() }}

<!-- Start of Async Google Analytics Code -->
<!-- This script would be updated for a real script
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1234567-8', 'auto', {'legacyCookieDomain': '.contextrelevant.com', 'allowLinker': true});
  ga('send', 'pageview');

  var trackOutboundLink = function(url) {
    if (ga.q) {
     document.location = url;
    } else {
      ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
        function () {
          document.location = url;
        }
      });
    }
  };
</script>
-->
<!-- End of Async Google Analytics Code -->

{% endblock %}
