// Nav Styling
$nav-links: $versive-grey;
$nav-links-hover: darken($versive-grey, 20%);
$nav-breakpoint: 730px;
$nav-border: 3px solid lighten($versive-grey, 30%);

.downloads .nav-main {
  margin-bottom: 20px;
}

// Cover page: Versive logo and background image
nav.nav-images {
  width: 100%;
  min-height: 500px;
  background: $versive-white;
  border-bottom: $versive-white;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    font-family: $primary;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $versive-dark-blue;
    span {
      color: $versive-white;
    }
  }
}

// Cover page: Learn Versive
nav.nav-learn-versive {
  width: 100%;
  min-height: 60px;
  background: $versive-green-blue;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    font-family: $primary;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $versive-light-blue;
    span {
      color: $versive-white;
    }
  }
}

// Cover page: doc title
nav.nav-pdf-title {
  width: 100%;
  min-height: 160px;
  background: $versive-dark-blue;
  border-bottom: $versive-white;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    font-family: $primary;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: $versive-light-blue;
    span {
      color: $versive-white;
    }
  }
}

// Cover page: Footer
nav.nav-footer {
  width: 100%;
  min-height: 52px;
  background: $versive-white;
  h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-transform: none;
    font-family: $primary;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: $versive-light-blue;
    span {
      color: $versive-dark-blue;
    }
  }
}

// Cover page: vertical spacer
nav.nav-spacer {
  width: 100%;
  min-height: 26px;
  background: $versive-white;
  border-bottom: $versive-white;
}

.nav-inner {
  max-width: 1295px;
  margin: 0 auto;
  position: relative;
}

// List of Nav Links
.nav-links {
  margin: 0;
  clear: both;
  padding: 10px 17px;
  color: $nav-links;
  background: $versive-white;
  line-height: 2;
  font-family: $primary;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  li {
    display: block;
    clear: both;
  }
}


// Logo on Right Side of Nav
#coverbg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
  }
}

// Logo on Right Side of Nav
#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 132px;
  height: 30px;
  img {
    width: 100%;
    height: 100%;
  }
}