{% set active_product = active_product|default('Versive') -%}
{% set active_page_name = active_page_name|default('Versive') -%}
{% set active_search_path = active_search_path|default('/search.html') -%}
<!--{% set active_version = active_version|default('Latest') -%}-->
{% set defaultNavItems = [
  {
    "title": "Versive",
    "iconClass": "fa-home",
    "subItems": [
      {
        "title": "Site Map",
        "hasSubItems": false,
        "url": "index.html"
      },
      {
        "title": "Glossary",
        "hasSubItems": false,
        "url": "glossary.html"
      }
    ]
  },
  {
    "title": "Reference",
    "iconClass": "fa-star",
    "subItems": [
      {
        "title": "Commands",
        "hasSubItems": false,
        "url": "commands.html"
      },
      {
        "title": "config.yml",
        "hasSubItems": false,
        "url": "config_all.html"
      },
    ]
  }
] -%}
{% set navItems = navItems|default(defaultNavItems) -%}
<nav class="nav-docs">
  <ul class="nav-docs-items" id="nav-docs-list">



    <li class="main-item dark-item">
      <a href="index.html"><img class="icon-left" src="./_static/versive-mark-white.svg">{{ active_page_name }}</img></a>
    </li>

    <li class="main-item has-sub-items docs-search">
      <form action={{ active_search_path }} method="get">
        <input type="text" placeholder="Search" id="docs-search" name="q">
        <input type="submit" class="submit-button" value="">
        <i class="fa fa-search icon-search"></i>
      </form>
    </li>

<!-- disabled in favor of right-side search block; if public docs, this option is much better? you decide! 

    <li class="main-item dark-item docs-search">
      <form action="/search.html" method="get">
        <input type="text" placeholder="Search" id="docs-search" name="q">
        <input type="submit" class="submit-button" value="">
        <i class="fa fa-search icon-search"></i>
      </form>
    </li>
-->

<!--
    <li class="version-picker">
      Filter by product and version
      {% include 'version-picker.html' with context %}
    </li>
-->   

    {% block leftnav %}
    {%- for item in navItems %}
    <li class="main-item has-sub-items">

      <div class="has-sub-items-content" title="{{ item.title }}">

       {%- if item.image %} <!-- if item has custom image -->

        <img class="icon-left" src="./_static/{{ item.image }}"></img> {{ item.title }}

       {%- else %} <!-- else item does not have custom image and should use FontAwesome icon -->

        <i class="fa {{ item.iconClass }} icon-left"></i> {{ item.title }}

       {%- endif %} <!-- endif -->

        <i class="fa fa-chevron-down"></i>
      </div>


      <ul class="sub-items">

        {%- for subItem in item.subItems %}
        {%- if subItem.hasSubItems %}

        <li class="has-sub-items">
          <div class="has-sub-items-content" title="{{ subItem.title }}">
            {{ subItem.title }}
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="sub-items level-2">

            {%- for subItem2 in subItem.subItems %}
            {%- if subItem2.hasSubItems %}

            <li class="has-sub-items">
              <div class="has-sub-items-content" title="{{ subItem2.title }}">
                {{ subItem2.title }}
                <i class="fa fa-chevron-down"></i>
              </div>
              <ul class="sub-items level-3">

                {%- for subItem3 in subItem2.subItems %}

                <li>
                  <a class="nav-docs-link" href="{{ subItem3.url }}" title="{{ subItem3.title }}">
                    {{ subItem3.title }}
                  </a>
                </li>

                {%- endfor %} <!-- /for subItem3 in subItem2.subItems -->

              </ul>
            </li>

            {%- else %} <!-- if subItem2 does not have sub items -->

            <li>
              <a class="nav-docs-link" href="{{ subItem2.url }}" title="{{ subItem2.title }}">
                {{ subItem2.title }}
              </a>
            </li>

            {%- endif %} <!-- /if subItem2.hasSubItems -->
            {%- endfor %} <!-- /for subItem2 in subItem.subItems -->

          </ul>
        
        </li>

        {%- else %} <!-- if subItem does not have sub items  -->

        <li>
          <a class="nav-docs-link" href="{{ subItem.url }}" title="{{ subItem.title }}">
            {{ subItem.title }}
          </a>
        </li>

        {% endif %} <!-- /if subItem2.hasSubItems -->
        {%- endfor %} <!-- /for subItem in subItems -->

      </ul>
    </li>
    {%- endfor %} <!-- /for item in navItems -->
    {% endblock %}
<!--
    <li class="main-item dark-item">
      <a href="feedback.html"><i class="fa fa-commenting icon-left"></i>Send Feedback</a>
    </li>

    <li class="main-item dark-item">
      <a href="support.html"><i class="fa fa-support icon-left"></i>Support</a>
    </li>
-->

    <li class="main-item dark-item">
      <a href="index.html"><i class="fa fa-map-o icon-left"></i>Site Map</a>
    </li>
  </ul>
</nav>
