<div class="dropdown-wrapper">
  <div class="dropdown-select">
    <span id="dropdown-select-product">{{ active_product }}</span>: <span id="dropdown-select-version">{{ active_version }}</span>
    <i class="fa fa-chevron-down"></i>
  </div>
  <ul class="dropdown-items">
    <li class="dropdown-item">
    <a href="/">Documentation Releases</a>
    </li>
    <li class="dropdown-item has-sub-items">Hanto<i class="fa fa-chevron-right"></i>
      <ul class="dropdown-sub-items">
        <li class="dropdown-item"><a href="/apt/1-2-3/">1.0.0</a></li>
        <li class="dropdown-item"><a href="/apt/1-2-3/">1.0.1</a></li>
        <li class="dropdown-item"><a href="/apt/1-2-3/">1.0.2</a></li>
        <li class="dropdown-item"><a href="/apt/1-2-3/">1.0.3</a></li>
      </ul>
    </li>
    <li class="dropdown-item">
      <a href="/release/foo/">Release Foo</a>
    </li>
    <li class="dropdown-item has-sub-items">Release Bar<i class="fa fa-chevron-right"></i>
      <ul class="dropdown-sub-items">
        <li class="dropdown-item"><a href="/release/bar_1-0">Bar 1.0</a></li>
        <li class="dropdown-item"><a href="/release/bar_1-1">Bar 1.1</a></li>
      </ul>
    </li>
    <li class="legacy-heading">Archived Docs</li>
    <li class="dropdown-item">
      <a href="/release/analytics/">Archived Foo</a>
    </li>
    <li class="dropdown-item has-sub-items legacy-item">Archived Bar<i class="fa fa-chevron-right"></i>
      <ul class="dropdown-sub-items">
        <li class="dropdown-item legacy-item"><a href="/release/bar_0-8/">Bar 0.8</a></li>
        <li class="dropdown-item legacy-item"><a href="/release/bar_0-9/">Bar 0.9</a></li>
      </ul>
    </li>
  </ul>
</div>
