/*
 * versive.css_t
 * ~~~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- versive theme.
 *
 * :copyright: None.
 * :license: This work is licensed under a Creative Commons 
 * Attribution 3.0 Unported License
 *
 */

/* -- the background color for the whole page and the borders for the topic page, header, footer */
/* -- IMPORTANT -- color is the color of the text on div.document; must be $versive-dark-blue or $versive-dark-grey */

body {
    font-family: $primary;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.00em;
    line-height: 1.5;
    background-color: $versive-white;
    color: $versive-dark-grey;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 270px;
}



/* -- the actual topic background, must be white all the time no exceptions */

div.document {
    background-color: $versive-white;
    text-align: left;
    background-image: url(contents.png);
    background-repeat: repeat-x;
    max-width: 1295px;
    margin: 0 auto;
    width: 100%;
}



/* -- the vertical line between the topics and the TOC */

div.bodywrapper {
    margin: 0;
    @media (min-width: 1100px) {
        margin-right: 270px;
    }
    img {
        max-width: 100%;
    }
}

div.documentwrapper {
    background: $versive-white;
}

div.body-wrap {
    width: 100%;
    overflow: hidden;
    background: lighten($versive-grey, 45%);
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}

div.related {
    font-size: 1em;
}

/* -- the borders above and below the header and footer */

div.related ul {
    background-color: $versive-white;
    height: 1.8em;
    border-top: 4px solid $versive-light-grey;
    border-bottom: 4px solid $versive-light-blue;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}



/* -- the Sphinx-specific navigation text located just below the header and just above the footer */

div.related ul li a {
    margin: 0;
    padding: 0 8px 0 5px;
    line-height: 1.75em;
    color: $versive-dark-blue;
}

div.related ul li a:hover {
    color: $versive-red;
}


div.sphinxsidebarwrapper {
    padding: 0;
}

div.sphinxsidebarwrapper > ul > li {
    list-style-type: none;
}

div.sphinxsidebar {
    display: none;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0.5em 15px 15px 0;
    width: 250px;
    float: right;
    font-size: 1em;
    text-align: left;
    @media (min-width: 1100px) {
        display: block;
    }
}

/* -- The colors of the TOC sidebar; h3 is headers, a is the text links and both should be same color */

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin: 1em 0 0.5em 0;
    font-size: 1em;
    font-weight: bold;
    padding: 0.1em 0 0.1em 0.5em;
    color: $versive-white;
    background-color: $versive-sidebar;
}

div.sphinxsidebar a {
    padding: 0.1em 0 0.1em 0.5em;
    text-decoration: none;
}

div.sphinxsidebar h3 a {
    color: $versive-none;
}

div.sphinxsidebar ul {
    padding-left: 1.5em;
    padding: 0;
    line-height: 130%;
    list-style-type: disc;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}




/*
 * footer
 * ~~~~~~~~~~~~~~~~~~~
 *
 */


div.footer {
    background-color: $versive-white;
    color: $versive-dark-blue;
    padding: 3px 20px 3px 20px;
    clear: both;
    font-size: 0.8em;
    text-align: left;
}

div.footer a {
    color: $versive-light-blue;
    text-decoration: none;
}

div.footer a:hover {
    color: $versive-red;
}

/* -- body styles ----------------------------------------------------------- */

p {
    margin: 0 0 0.5em 0;
}

.documentwrapper img {
  margin: 0.5em;
}


.literal {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 14px;
    letter-spacing: 0.015em;
    line-height: 100%;
    padding: 0.0em;
    border: 0.0px solid $versive-light-grey;
    border-bottom: 1px solid $versive-light-grey;
    background-color: lighten($versive-fixed-grey, 10%);
    margin: 0 0 0.5em 0;
}


a {
    color: $versive-link;
    text-decoration: none;
}

a:hover {
    color: $versive-rollover;
    text-decoration: none;
}

dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

dl {
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

div.body a {
    text-decoration: underline;
}

div.body a:hover {
    color: $versive-rollover;
    text-decoration: underline;
}

 
em {
    font-style: italic;
}

/* -- header styles, basically colored underlines and decreasing border bottom sizes */


.versive-docs h1 {
    padding: 0.5em 0 0.3em 0;
    font-size: 1.75em;
    font-weight: bold;
    color: $versive-header;
    border-bottom: solid 4px $versive-header-underline;
    margin: 0 0 0.5em 0;
}

.versive-docs h2 {
    font-size: 1.55em;
    font-weight: bold;
    color: $versive-header;
    padding: 0.7em 0 0.3em 0;
    border-bottom: solid 2px $versive-header-underline;
    margin: 0 0 0.5em 0;
}

.versive-docs h3 {
    font-size: 1.35em;
    font-weight: bold;
    color: $versive-header;
    padding: 0.7em 0 0.3em 0;
    border-bottom:solid 1px $versive-header-underline;
    margin: 0 0 0.5em 0;
}

.versive-docs h4 {
    margin: 0 0 0.5em 0;
    font-size: 1.35em;
    font-weight: bold;
    color: $versive-header;
    padding: 0.7em 0 0.3em 0;
    border-bottom:solid 0.5px $versive-header-underline;
}

.versive-docs h5 {
    font-size: 1.35em;
    font-weight: bold;
    color: $versive-header;
    padding: 0.7em 0 0.3em 0;
    border-bottom: solid 0px $versive-header-underline;
    margin: 0 0 0.5em 0;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: $versive-white!important;
}



h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: $versive-white!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: $versive-white;
    background-color: $versive-white;
}




a.headerlink {
    color: $versive-white!important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

a.headerlink:hover {
    background-color: $versive-white;
    color: $versive-white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}





tt {
    background-color: $versive-fixed-grey;
    border-bottom: 1px solid $versive-light-grey;
    color: $versive-dark-blue;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}


hr {
    border: 1px solid $versive-dark-blue;
    margin: 2em;
}


a tt {
    border: 0;
    color: $versive-red;
}


a tt:hover {
    color: $versive-red;
}


pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 110%;
    padding: .5em;
    border: 2.0px solid $versive-lightest-grey;
    border-color: $versive-lightest-grey;
    background-color: $versive-white;
    overflow-x: scroll;
    margin: 0 0 0.5em 0;
}


pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

/* -- has $versive-red for testing */

div.quotebar {
    background-color: $versive-red;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid $versive-red;
}

/* -- has $versive-red for testing */

div.topic {
    background-color: $versive-red;
}


/* -- table styles */
div.section {
    max-width: 100%;
}

table.docutils {
    max-width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing:4px;
    margin: 0 0 0.5em 0;
}

table.docutils tr {
    max-width: 100%;
}

table.docutils th {
    padding: 1px 8px 1px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $versive-table-border;
    background-color: $versive-table-border;
    color: $versive-white;
    font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

table.docutils td {
    padding: 5px 5px 5px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed $versive-table-border;
}

table.docutils td, table.docutils th {
    white-space: normal;
}

table.field-list td, table.field-list th {
    border: 0 !important;
}

table.footnote td, table.footnote th {
    border: 0 !important;
}

th {
    text-align: left;
    padding-right: 5px;
}

table.citation {
    border-left: solid 1px gray;
    margin-left: 1px;
}

table.citation td {
    border-bottom: none;
}







div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid $versive-note;
    background-color: $versive-white;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: $versive-white;
    border-bottom: 0px solid $versive-note;
    font-weight: bold;
    background-color: $versive-note;
}




div.warning {
    border: 1px solid $versive-warning;
}

div.warning p.admonition-title {
    background-color: $versive-warning;
    border-bottom-color: $versive-warning;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}


/* Use .. role:: red at the top of a file and then */
/* Use :red:`string` to turn that string into the color red */

.red {
	color: $versive-red;
}


/* Use .. role:: blue at the top of a file and then */
/* Use :blue:`string` to turn that string into the color blue */

.blue {
	color: $versive-dark-blue;
}





div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid $versive-white;
    background-color: $versive-white;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}




.viewcode-back {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


div.viewcode-block:target{background-color:$versive-yellow;border-top:1px solid $versive-lightest-grey;border-bottom:1px solid $versive-lightest-grey}
.scrollable.container{width:auto}
.scrollable{overflow-x:auto;position:relative}
.highlight-none,.highlight-bash,.highlight-javascript,.highlight-python,.highlight-yaml{position:relative}
.highlight-none:before,.highlight-bash:before,.highlight-javascript:before,.highlight-python:before,.highlight-yaml:before{z-index:10;font-size:9px;padding:.2em .6em;text-align:center;color:$versive-dark-grey;display:block;position:absolute;border-radius:0 3px 0 3px;border-top:none;border-right:none;background-color:$versive-lightest-grey;top:0;right:0;height:18px}
.highlight-none pre{border-color:$versive-white}
.highlight-none pre{background-color:$versive-fixed-grey;}
.highlight-bash pre{border-color:$versive-green-blue}
.highlight-javascript pre{border-color:$versive-yellow}
.highlight-python pre{border-color:$versive-dark-blue}
.highlight-yaml pre{border-color:$versive-light-blue}
.highlight-bash:before{content:'SHELL';background-color:$versive-green-blue;color:$versive-white}
.highlight-javascript:before{content:'JSON';background-color:$versive-yellow;color:$versive-dark-grey}
.highlight-python:before{content:'PYTHON';background-color:$versive-dark-blue;color:$versive-white}
.highlight-yaml:before{content:'YAML';background-color:$versive-light-blue;color:$versive-white}


