<script type="text/javascript">
  var DOCUMENTATION_OPTIONS = {
    URL_ROOT:    '{{ url_root }}',
    VERSION:     '{{ release|e }}',
    COLLAPSE_INDEX: false,
    FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
//    HAS_SOURCE:  {{ has_source|lower }}
  };
</script>
<script type="text/javascript" src="_static/jquery.js"></script>
<script type="text/javascript" src="_static/underscore.js"></script>
<script type="text/javascript" src="_static/doctools.js"></script>
<script type="text/javascript" src="_static/searchtools.js"></script>
<script type="text/javascript" src="_static/script.js"></script>

