// Nav Styling
$nav-links: $versive-grey;
$nav-links-hover: darken($versive-grey, 20%);
$nav-breakpoint: 730px;
$nav-border: 3px solid lighten($versive-grey, 30%);

.downloads .nav-main {
  margin-bottom: 20px;
}

// Top Bar
nav.nav-main {
  width: 100%;
  min-height: 50px;
  background: white;
  border-bottom: $nav-border;
  h1 {
    margin: 0;
    padding: 15px 0 0 20px;
    text-transform: uppercase;
    font-family: $primary;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: $versive-dark-blue;
    a {
      color: $versive-companyname;
    }
    span {
      color: $versive-companyname;
    }
  }
  @media (min-width: $nav-breakpoint) {
    position: relative;
    padding: 11px 20px;
    h1 {
      padding: 5px 0;
    }
  }
}

.nav-inner {
  max-width: 1295px;
  margin: 0 auto;
  position: relative;
}

// List of Nav Links
.nav-links {
  margin: 0;
  clear: both;
  padding: 10px 17px;
  color: $nav-links;
  background: $versive-white;
  line-height: 2;
  font-family: $primary;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  // Override Mobile Safari UL styles
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 10px;
  a {
    display: inline-block;
    color: inherit;
    transition: all 0.4s ease;
  }
  li {
    display: block;
    clear: both;
  }
  a:hover,
  .is-active a {
    color: $nav-links-hover;
  }
}

// Nav at Smaller sizes
@media (max-width: $nav-breakpoint) {
  .nav-links {
    border-bottom: $nav-border;
    position: absolute;
    width: 100%;
    right: -100%;
    z-index: 3;
  }
  .nav-links,
  .nav-docs {
    transition: right 0.2s ease;
    &.is-open {
      right: 0;
    }
  }
}

// Links List at Larger Sizes
@media (min-width: $nav-breakpoint) {
  .nav-links {
    display: block;
    clear: none;
    float: left;
    margin: 7px 0 0 26px;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    li {
      display: inline-block;
      margin-left: 20px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .nav-link {
    a {
      padding-bottom: 3px;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid $nav-links-hover; 
      }
    }
    &.is-active a {
      border-bottom: 3px solid $nav-links-hover; 
    }
  }
}

// Hamburger Icon
#nav-icon {
  position: absolute;
  top: 12px;
  right: 52px;
  width: 27px;
  height: 24px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 17px;
  line-height: 1;
  color: $versive-dark-blue;
  @media (min-width: $nav-breakpoint) {
    display: none;
  }
}

// Logo on Right Side of Nav
#logo {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 28px;
  height: 28px;
  img {
    width: 100%;
    height: 100%;
  }
  @media (min-width: $nav-breakpoint) {
    top: -1px;
    right: 0;
  }
}