/* Colors
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *

/*
 * Specific to certain areas of the CSS files
 */

 $versive-left-nav: #424242;
 $versive-left-nav-active: #50a9ca;
 $versive-link: #355d71;
 $versive-rollover: #db642a;
 $versive-note: #93c94c;
 $versive-warning: #db642a;
 $versive-none: #ffffff;
 $versive-table-border: #355d71;
 $versive-text-default: #000000;
 $versive-header: #355d71;
 $versive-header-underline: #757575;
 $versive-sidebar: #424242;
 $versive-companyname: #78b2b6;

 /*
  * The following are kinda generic, still might be used.
  */

 $versive-grey: #757575;
 $versive-dark-blue: #355d71;
 $versive-light-blue: #50a9ca;
 $versive-green-blue: #78b2b6;
 $versive-green: #93c94c;
 $versive-red: #db642a;
 $versive-yellow: #eed973;
 $versive-dark-grey: #424242;
 $versive-light-grey: #bdbdbd;
 $versive-fixed-grey: #e3e3e3;
 $versive-lightest-grey: #eeeeee;
 $versive-white: #ffffff;
 $versive-black: #000000;



/* Fonts
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * $primary: 
 *   Montserrat is used for the top global navigation and the grey nav on the left,
 *   as well as the global flyout menu on the right (hidden by default).
 *
 * $secondary: 
 *   Helvetica Neue is used for the body text and the Table of Contents on the right.
 * 
 * $mono: 
 *   Consolas is used for monospace text. 
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700,900);
$primary: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$secondary: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$mono: "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;

/* Icons
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Use Font Awesome for iconography
 * Read more about use here: https://fortawesome.github.io/Font-Awesome/icons/
 * 
 */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);