@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/**
 * Custom theme for reveal.js, based on default theme.
 */
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }







/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #ffffff;
  background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #ffffff 0%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(0%, #212c35));
  background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #ffffff 0%);
  background: -o-radial-gradient(center, circle cover, #ffffff 0%, #ffffff 0%);
  background: -ms-radial-gradient(center, circle cover, #ffffff 0%, #ffffff 0%);
  background: radial-gradient(center, circle cover, #ffffff 0%, #ffffff 0%);
  background-color: #ffffff; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #757575; }

::selection {
  color: white;
  background: #757575;
  text-shadow: none; }

.reveal body {
  text-align: left; }
	
.reveal p {
  padding-bottom: .2em;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 1.3em;
  color: #757575;
  text-align: left; }

.reveal ol,
.reveal ul {
  padding-bottom: .5em;
  width:100%;
  text-align: left;
  margin-bottom: 14px;
  margin: 0 0 0 1em; }

.reveal li {
  color: #757575;
  text-align: left; }

.reveal table {
  border-spacing: .5em; }

.reveal table th,
.reveal table td {
  margin: 1em;
  text-align: left;
  }

.reveal th {
  color: #ffffff;
  border-bottom: solid #355d71;
  background: #355d71;
  border-style: solid;
  letter-spacing: 0.03em;
  padding-bottom: .2em;
  padding-top: .2em;
  padding-right: .5em;
  padding-left: .5em;
  text-align: left; }

.reveal td {
  color: #757575;
  padding-bottom: .5em;
  padding-top: .5em;
  padding-right: .5em;
  padding-left: .5em;
  text-align: left; }

.reveal tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
    background-color: #757575;
  }

.reveal dl {
    text-align: left; }

.reveal img {
    text-align: left; }

.reveal section {
  color: #757575;
  text-align: left; }

.reveal tt {
  color: #757575; }

.reveal dt {
  padding-bottom: .5em;
  color: #757575; }

.reveal dd {
  padding-bottom: .5em;
  text-indent: 1em;
  color: #757575; }

.reveal div.highlight {
  padding-bottom: .5em;
  padding-top: .5em;
  padding-right: .5em;
  padding-left: .5em; }

.reveal .highlight-python {
  color: #ffffff;
  background: #355d71; }

.reveal .highlight-javascript {
  color: #424242;
  background: #eed973; }

.reveal .highlight-bash {
  color: #ffffff;
  background: #78b2b6; }

.reveal .highlight-yaml {
  color: #424242;
  background: #eeeeee; }

div.admonition, div.warning {
  font-size: 0.9em;
  letter-spacing: 0.03em;
  margin: 1em 0 1em 0;
  border: 1px solid #93c94c;
  background-color: #ffffff;
  padding: 0; }

div.admonition p, div.warning p {
  margin: 0.5em 1em 0.5em 1em;
  padding: 0; }

div.admonition pre, div.warning pre {
  margin: 0.4em 1em 0.4em 1em; }

div.admonition p.admonition-title,
div.warning p.admonition-title {
  margin: 0;
  padding: 0.1em 0 0.1em 0.5em;
  color: #ffffff;
  border-bottom: 0px solid #93c94c;
  font-weight: bold;
  background-color: #93c94c; }

div.warning {
  border: 1px solid #db642a; }

div.warning p.admonition-title {
  background-color: #93c94c;
  border-bottom-color: #93c94c; }

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
  margin: 0.1em 0.5em 0.5em 3em;
  padding: 0; }

.reveal pre {
  display:block;
  position:relative;
  font-size:.9em;
  width:98%;
  line-height:1.1em;
  margin:4px auto;
  text-align:left;
  font-family:monospace;
  word-wrap:break-word; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #355d71;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-style: solid;
  border-bottom: solid #424242;
  text-align: left; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #757575;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #93c94c;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #db642a;
  background: #bdbdbd; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid #ffffff; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ffffff; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #db642a; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #db642a; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #db642a; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #db642a; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #db642a; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #db642a; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #db642a; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #db642a; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #db642a;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #db642a; }
